@model Category
@{
    ViewData["Title"] = "Create";
}


<section id="book-a-table" class="book-a-table section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Create New Category</h2>
        @*                 <p>Book a Table</p>
        *@
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <form asp-action="Create" asp-controller="Category">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <label asp-for="Name" class="control-label"> Category Name :  </label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Category Name..." required="">
                    <span asp-validation-for="Name" class="text-bg-danger"></span>
                </div>
                
            </div>


            <div class="text-center mt-3">
                <input class="btn-book-a-table d-none d-xl-block" type="submit" value="Create" />

            </div>
        </form><!-- End Reservation Form -->

    </div>

</section>
